/*合同列表*/
body,p,div,ul,li{margin:0 0;padding:0 0;}
ul,li{list-style: none;}
html{background-color: #F2F2F2;}

.fr{float:right;}
.fl{float:left;}
.font-red{color:#DD514C;}
.font-blue{color:#0e90d2;}
/*列表*/
.contractList{}
/*搜索*/
.contractList .contractList-search{
    width: 100%;
    border-radius: .5rem;
    position: relative;
    z-index: 1000;
    height: 30px;
    background: #0e69b8;
}
.contractList .contractList-input{
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
}
.contractList .contractList_list{}
.contractList .contractList_list>li{background-color:#fff;margin:10px 0;}
.contractList .listTop ul{padding:20px 20px;color:#a6a6a6;}
.contractList .listTop li{overflow: hidden;}
.contractList .listTotall{height:4rem;padding-right:20px;margin:10px 0;}
.contractList .listTotall_price{height:3.1rem;line-height:3.1rem;font-size:1.4rem;text-align: right;border-top: 1px solid #dbdbdb;padding-right:20px;}



/*详情*/
.contractDetail{height: 100vh;overflow: hidden;}
.contractDetail .contractNum{width:100%;height:3.6rem;line-height:3.6rem;overflow:hidden;}
.contractDetail .contractNum_name{display:inline-block;width:100px;height:2.1rem;line-height:2.1rem;background-color:#fbaf16;color:#fff;border-radius: 13px;text-align: right;position:relative;left:-10px;padding-right:14px;}

.contractDetail .contractTitle{width:100%;height:3.1rem;line-height:3.1rem;background-color:#f2f2f2;color:#000;padding-left:20px;}

.contractDetail .listTop{padding:20px 20px;font-size:1.1rem;color:#a6a6a6;border-bottom: 1px solid #dbdbdb;}
.contractDetail .listTop li{overflow: hidden;}
.contractDetail .listTotall{height:4rem;padding-right:20px;margin:10px 0;}
.contractDetail .listTotall p{text-align: right;}
.contractDetail .listTotall_price{font-size:1.4rem;margin-bottom:10px;}
.contractDetail .listTotall_time{font-size:1rem;color:#9f9f9f;}
.contractDetail .listbottom{padding:20px 20px 0 20px;}
.contractDetail .listbottom_title{width:100%;overflow: hidden;background-color: #f6f6f6;}
.contractDetail .listbottom_title li{float:left;width:25%;height:3rem;text-align: center;line-height: 3rem;}
.contractDetail .listbottom_content{width:100%;}
.contractDetail .listbottom_content li{width:100%;height:3.5rem;line-height:3.5rem;color:#818181;overflow: hidden;border-bottom: 1px solid #dbdbdb;}
.contractDetail .listbottom_content li span{display:inline-block;width:25%;float:left;text-align:center;}


