

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="../../../vendor/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/blue.css">
    <link rel="stylesheet" href="../../css/xg-lease.css">
    <link rel="stylesheet" href="css/replay.css">
</head>
<body>
<div class="header px-3 mb-2 bg-primary text-white text-center skin-back">
    <a href="../index.html" class="float-left"><i class="iconfont icon-fanhui text-white"></i></a>
    <span >还款明细</span>
</div>


<div id="repaymentDetail" class="repaymentDetail">

    <div class="wrapper-head">
        <!--搜索-->
        <div class=" bg-primary skin-back position-relative p-3" style="margin-top: -8px;">
            <div class="text-white contractList-search " >
                <i class="iconfont icon-sou position-absolute"></i>
                <a href=""><input type="text" placeholder="输入关键字搜索" class="contractList-input pl-4"></a>
                <i class="iconfont icon-guanbi1 position-absolute"></i>
            </div>
        </div>
        <!--切换导航-->
        <ul class="back-white navTab" ng-transclude="">
            <li class="tab-active">
                <div class="" ng-click="changeStatus(status)">全部</div>
            </li>
            <li class=""><div class="" >日期</div></li>
        </ul>
    </div>
    <div class="back-gary titleDiv">还款明细</div>

    <ul class="repaymentList-box">
        <li class="" >
            <div class="container">
                <div class="row hl40 back-gary text-center">
                    <div class="col-3">到账日期</div>
                    <div class="col-6">合同编号</div>
                    <div class="col-3">客户名称</div>
                </div>
            </div>
            <div class="container">
                <div class="row text-center hl40">
                    <div class="col-3">2017-11-29</div>
                    <div class="col-6 text-gary">XGRZ-01-201710-0005</div>
                    <div class="col-3 text-gary">张满和</div>
                    <!--<div class="fn-u-sm-2 text-red" >￥7103.00</div>-->
                </div>
            </div>
            <div class="container">
                <div class="row paddingDefault  back-gary">
                    <div class="col-12 paddingDefault-bottom">到账金额<span class="text-red float-right">￥7103.00</span></div>
                    <div class="col-2">备注</div>
                    <div class="col-10 note text-gary" style="padding: .4rem  1rem;">
                        已经还款一部分，余下的请尽快还款
                    </div>
                </div>
            </div>
        </li>
        <li class="" >
            <div class="container">
                <div class="row hl40 back-gary text-center">
                    <div class="col-3">到账日期</div>
                    <div class="col-6">合同编号</div>
                    <div class="col-3">客户名称</div>
                </div>
            </div>
            <div class="container">
                <div class="row text-center hl40">
                    <div class="col-3">2017-11-29</div>
                    <div class="col-6 text-gary">XGRZ-01-201710-0005</div>
                    <div class="col-3 text-gary">张满和</div>
                    <!--<div class="fn-u-sm-2 text-red" >￥7103.00</div>-->
                </div>
            </div>
            <div class="container">
                <div class="row paddingDefault  back-gary">
                    <div class="col-12 paddingDefault-bottom">到账金额<span class="text-red float-right">￥7103.00</span></div>
                    <div class="col-2">备注</div>
                    <div class="col-10 note text-gary" style="padding: .4rem  1rem;">
                        已经还款一部分，余下的请尽快还款
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <!--<div class="fn-modal fn-modal-alert" id="changeTime-action">
        <div class="fn-modal-dialog">
            &lt;!&ndash;<div class="fn-modal-hd"></div>&ndash;&gt;
            <div class="fn-modal-bd">
                <div class="fn-fg" style="margin: 0 1rem;position: relative;top: 3rem;">
                    <div class="fn-u-sm-6 fn-cf fn-padding-0">
                        <span class="fn-fl">起始：</span>
                        <div class="fn-fl">
                            <input type="date" id="start" ng-model="start">
                        </div>
                    </div>
                    <div class="fn-u-sm-6 fn-cf fn-padding-0">
                        <span class="fn-fl">结束：</span>
                        <div class="fn-fl">
                            <input type="date" id="end" ng-model="end">
                        </div>
                    </div>
                </div>
            </div>
            <div class="fn-modal-footer skin-back">
                <span class="fn-modal-btn fn-modal-btn-bold" style="color: #fff;" data-fn-modal-close>搜索</span>
            </div>
        </div>
    </div>-->


</div>


<script src="../../../vendor/jquery/jquery.min.js"></script>
<script src="../../../vendor/bootstrap/js/popper.min.js"></script>
<script src="../../../vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
